:root {
  --black: #000;
  --white: #fff;
  --orange: #ffcc00;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
}

.card {
  .image-container {
    display: flex;
    background-color: var(--black);
    height: 215px;
    .card-img-top {
      width: inherit;
      height: inherit;
      object-fit: cover;
      margin: 0 auto;
    }
  }
  .card-body {
    .card-title {
      a {
        color: var(--black);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .ratings {
      .star-ratings {
        svg {
          fill: var(--orange);
        }
      }
    }
    button {
      background-color: var(--black);
      color: var(--white);
    }
  }
}

.prices {
  .old-price {
  }
  .price {
  }
}
.swiper-container {
  .swiper {
    &.mySwiper2 {
      height: 400px;
      margin-bottom: 15px;
      .swiper-slide {
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        .image-container {
          height: 400px;
          img {
            height: inherit;
          }
        }
      }
    }
    &.mySwiper {
      .swiper-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .swiper-slide {
          border: 1px solid var(--white);
          &.swiper-slide-thumb-active {
            border: 1px solid var(--black);
          }
        }
      }
    }
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
