:root {
  --black: #000;
  --orange: #ffcc00;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
}

.card {
  .card-body {
    .card-title {
      a {
        color: var(--black);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .ratings {
      .star-ratings {
        svg {
          fill: var(--orange);
        }
      }
    }
  }
}

.prices {
  .old-price {
  }
  .price {
  }
}
